@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,800;1,500&display=swap');
body{
  font-family: 'Montserrat', sans-serif !important;
}

.form {
  margin: 0 auto;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
}
.landing-bg{
  background: #221E20;
}
.landing {
  padding-top: 2rem;
  min-height: 100vh;
  width: 100%;
  background: url('./Bg.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.btn-custom{
  background: linear-gradient(120.37deg, rgba(221, 122, 5, 0.8) 0%, rgba(236, 25, 164, 0.8) 100%);
}
.btn-custom:hover{
  color: #221E20;
}
.bg-input{
  color: #fff !important;
  background: rgba(255, 255, 255, 0.1) !important;
}
::placeholder{
  color: #ccc !important;
}
.title-custom{
  font-size: 68px;
  background: -webkit-linear-gradient(rgba(221, 122, 5, 0.8), rgba(236, 25, 164, 0.8));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 5px;
}

.dashboard-bg{
  width: 100%;
  background: #221E20;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.dashboard{
  background: url('./Bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}
.btn__create{
  padding: 20px;
  background-color: #03f44f !important;
  position: absolute;
  top: 100px;
  right: 50px;
}
.btn__create .btn__icon{
  color: #fff;
  transition: all 0.4s;
}
.btn__create:hover .btn__icon{
  transform: scale(1.4);
}
.message-error{
  color: #f34a5e;
}
.loading{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}